# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.log
*.sqlite3
db.sqlite3
media/

# Environment variables
.env

# Virtual environment
venv/
.venv/
.env/

# Others
*.DS_Store
*.egg-info/
*.egg
*.pyc